* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 10vh;
    -webkit-box-shadow: 0px 9px 17px 2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 9px 17px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 9px 17px 2px rgba(0, 0, 0, 0.47);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

.header-nav a {
    text-decoration: none;
    color: black;
}

.header-nav-item1 {
    width: 50%;
    padding: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 18px;
}

.header-nav-item2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 14px;
}

.header-nav-item2 li {
    list-style: none;
}

.body {
    width: 100%;
}

.body-image-center {
    height: 85vh;
    background: url(../../../Assets/Imgs/MainBackgroundLogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.body-image-center-grupo{
    height: 85vh;
    background: url(../../../Assets/Imgs/MainBackgroundLogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.body-image-center div, .body-image-center-grupo div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.body-image-center div h2, .body-image-center-grupo div h2 {
    font-size: 64px;
    font-weight: 900;
    line-height: 100px;
    text-shadow: goldenrod 2px solid;
    padding: 30px;
}

.blur :before {
    filter: blur(10px);
}

.body-image-center div h4, .body-image-center-grupo div h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    text-shadow: goldenrod 2px solid;
}

.body-image-center-item1 {
    height: 100%;
}

.flex-base-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-base-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 20px 60px 20px;

}

.members>div{
    text-align: center;
}

.content-about-images img {
    width: 200px;
    height: 200px;
}

.about {
    padding: 50px 50px 50px 50px;
}

.meAndVideos,
.outrasInfos {
    padding: 0px 50px 50px 50px;
}

.about>h2,
.meAndVideos>h2,
.outrasInfos>h2 {
    padding: 10px 50px 40px 50px;
}

.content-about,
.content-meAndVideos {
    padding-bottom: 50px;
    border-bottom: 3px black dashed;
}

.content-about-images {
    width: 20%;
    position: relative;
}

.content-about-text {
    width: 80%;
}

.icon-image {
    border-radius: 50%;
    width: 120px !important;
    height: 120px !important;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.icon-image-pai {
    position: relative;
    height: 100px;
}

.content-about-text p,
.content-meAndVideos-text p,
.outrasInfos p {
    padding-bottom: 12px;
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
}

.content-meAndVideos-text {
    width: 50%;
}

.content-meAndVideos-video {
    width: 50%;
}

.content-outrasInfos-videos {
    width: 100%;
    padding: 40px 0px 40px 0px;
    gap: 40px;
    justify-content: space-evenly !important;
}

.content-outrasInfos-videos div {
    width: 33.3%;
}

.footer {
    background-color: black;
    width: 100%;
    height: 60px;
}

.footer p {
    padding-left: 50px;
    text-align: justify;
    line-height: 60px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}